/* ===== Transition for Smooth Effect ===== */
body,
header,
main,
.forecast-card,
.border-2,
.bg-neutral-800 {
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}

/* ===== DARK MODE ===== */
body.dark-mode {
  background-color: #000;
  color: #fff;
}

header.dark-mode {
  background-color: #000;
  color: #fff;
}

main.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .bg-neutral-800 {
  background-color: #1e1e1e !important;
}

.dark-mode .border-2 {
  border-color: #444 !important;
}

.dark-mode input {
  background-color: #111 !important;
  color: #fff !important;
  border-color: #444 !important;
}

/* ===== LIGHT MODE ===== */
body.light-mode {
  background-color: #7787d0f6;
  color: #111;
}

header.light-mode {
  background-color: #7b617d7d;
  color: #111;
  border-bottom: 1px solid #b37dee;
}

main.light-mode {
  background-color: #65a8c3;
  background-image: url(pexels-eberhardgross-1287142.jpg);
  color: #111;
}

.light-mode .bg-neutral-800 {
  background-color: #28202066 !important;
}

.light-mode .text-white {
  color: black;
}

.light-mode .border-2 {
  border-color: #4d4747 !important;
}

.light-mode input {
  background-color: #fff !important;
  color: #111 !important;
  border-color: #ccc !important;
}

.weather-icon.cloudy {
  /* Softer whites for clouds with subtle shadow for realism */
  filter: brightness(115%) contrast(90%) grayscale(10%) drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
}




.weather-icon.rainy {
  filter: invert(36%) sepia(45%) saturate(500%) hue-rotate(180deg) brightness(90%) contrast(100%);
}

.weather-icon.snowy {
  filter: invert(95%) sepia(15%) saturate(300%) hue-rotate(200deg) brightness(120%) contrast(110%);
}
.weather-icon.sunny {
  filter: invert(85%) sepia(80%) saturate(900%) hue-rotate(15deg) brightness(110%) contrast(105%) drop-shadow(0 0 10px rgba(255, 223, 0, 0.6));
  width: 80px;
  height: 80px;
  display: inline-block;
  transition: all 0.4s;
}

.forecast-card .weather-icon.sunny {
  width: 50px;
  height: 50px;
  display: inline-block;
  transition: all 0.4s;
  filter: invert(85%) sepia(80%) saturate(900%) hue-rotate(15deg) brightness(110%) contrast(105%) drop-shadow(0 0 10px rgba(255, 223, 0, 0.6));
}


